.carousel__nav {
  inline-size: 136px;
  block-size: 36px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
 
  
  img {
    width: 24px;
    height: 24px;
  }

  h2 {
    font-size: 18px;
    font-weight: 700;
  }

  .recoment-game{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  }
}